{% block bluegrass_blues_menu %}
    {% macro bluegrass_blues_menu_render( menu ) %}
                <ul>
                    {% for submenu in menu.children %}
                        <li class='bluegrass_blues_menu_menuitem {% if  submenu.current %}bluegrass_blues_menu_menuitem_current{% endif %}' 
                                id="bluegrass_blues_menu_menuitem_{{ submenu.name }}">
                                <a href="#">{{ submenu.label }}</a>
                                {{ _self.bluegrass_blues_menu_render( submenu )  }}
                        </li>
                    {% endfor %}
                </ul>
    {% endmacro %}

    {{ _self.bluegrass_blues_menu_render(menu) }}
{% endblock %}